<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>交通行政处罚决定书</title>
</head>
<body>
  
    <form id="jiaotongchufa" method="post" action="">
        <input style="display:none" type="text" name="CaseId" />
        <input style="display:none" type="text" name="jdid" />
        <!--startprint-->
        <div align="center" id="printArea">
            <table>
                <tr>
                    <td align="center">
                        <span style="font-weight: bold; font-size: larger">交通行政处罚决定书</span>
                    </td>
                </tr>
                <tr>
                    <td align="left">

                        （<input name="firststr" maxlength="20" type="text" class="NomorText" style="width: 45px" />）
                        路政超限处罚字 （<input name="chufazi" maxlength="20" type="text" class="NomorText" style="width: 55px" />）
                        第 （<input name="dihao" maxlength="20" type="text" class="NomorText" style="width: 55px" />）号
                    </td>
                </tr>
                <tr align="left">
                    <td>
                        当事人：<input name="dangshiren" maxlength="20" type="text" class="NomorTextMust"
                                   datacol="yes" err="该项必须填写" checkexpession="NotNull" style="width: 200px" />
                    </td>
                </tr>
                <tr align="left">
                    <td>
                        地址或住址：<input name="dizhi" maxlength="20" type="text" class="NomorText"
                                     style="width: 200px" />
                    </td>
                </tr>
                <tr align="left">
                    <td>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;当事人于
                        <input name="dangshirenyu" type="text" class="NomorText" style="width: 80px"
                               onfocus="WdatePicker({dateFmt: &#39;yyyy-MM-dd &#39; })" />
                        驾驶牌号为<input name="CaseCarNo" maxlength="20" type="text" class="NomorText"
                                    style="width: 80px" />的车辆， 擅自在
                    </td>
                </tr>
                <tr align="left">
                    <td>
                        <input name="StationName" maxlength="20" type="text" class="NomorText" style="width: 180px" />线公路上超限行驶
                        <input name="gongli" maxlength="20" type="text" class="NomorText" style="width: 80px" />公
                        里。
                    </td>
                </tr>
                <tr align="left">
                    <td>
                        经检测，<input name="jiance" maxlength="50" type="text" class="NomorText"
                                   style="width: 280px" />。
                    </td>
                </tr>
                <tr align="left">
                    <td>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;上述事实清楚，证据充分。
                    </td>
                </tr>
                <tr align="left">
                    <td>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本局认为，当事人驾驶车辆擅自在公路上超限行驶的行为已违反了
                    </td>
                </tr>
                <tr align="left">
                    <td>
                        《中华人民共和国公路法》第四十九条和第五十条、《公路安全保护条
                    </td>
                </tr>
                <tr align="left">
                    <td>
                        例》第三十三条第一款、《湖南省实施<中华人民共和国公路法>办法》
                    </td>
                </tr>
                <tr align="left">
                    <td>
                        第二十条、交通运输部《超限运输车辆行驶公路管理规定》第十三条之
                    </td>
                </tr>
                <tr align="left">
                    <td>
                        规定。依据《中华人民共和国公路法》第七十六条第（五）项、《公路
                    </td>
                </tr>
                <tr align="left">
                    <td>
                        安全保护条例》第六十四条、《湖南省实施〈中华人民共和国公路法〉
                    </td>
                </tr>
                <tr align="left">
                    <td>
                        办法》第三十三条第二款、交通运输部《超限运输车辆行驶公路管理规
                    </td>
                </tr>
                <tr align="left">
                    <td>
                        定》第二十三条之规定,<input name="guiding" maxlength="20" type="text" class="NomorText"
                                          style="width: 120px" />，并处
                        <input name="fakuan" maxlength="20" type="text" class="NomorText" style="width: 90px" onclick="" />
                    </td>
                </tr>
                <tr align="left">
                    <td>
                        元罚款。
                    </td>
                </tr>
                <tr align="left">
                    <td>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;当事人必须在收到处罚决定书之日起十五日内持本决定书到
                    </td>
                </tr>
                <tr align="left">
                    <td>
                        <input name="jiaona" maxlength="20" type="text" class="NomorText" style="width: 90px" />
                        缴纳罚款；逾期不缴纳罚款的，每日按罚款
                    </td>
                </tr>
                <tr align="left">
                    <td>
                        数额的3%加处罚款。
                    </td>
                </tr>
                <tr align="left">
                    <td>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;当事人对本处罚决定不服的，可以在收到本处罚决定书之日起六十
                    </td>
                </tr>
                <tr align="left">
                    <td>
                        日内向郴州市人民政府或郴州市交通运输局申请复议或者在三个月内
                    </td>
                </tr>
                <tr align="left">
                    <td>
                        向人民法院提起诉讼。逾期不申请复议、不起诉，又不履行本决定的，
                    </td>
                </tr>
                <tr align="left">
                    <td>
                        本局将申请人民法院强制执行或者依法强制执行。
                    </td>
                </tr>
                <tr align="right">
                    <td>
                        <input name="infodate" maxlength="20" type="text" class="NomorText" style="width: 90px" onfocus="WdatePicker({dateFmt: &#39;yyyy-MM-dd &#39; })" />
                    </td>
                </tr>
            </table>
        </div>
        <!--endprint-->
        <div class="frmbottom" align="center">
            <input type="button" value="打印" class="button" onclick="WebPrintArea()" />
        </div>
    </form>
    <script>
        $(function () {
            try {
                var cookieValue=getCookie("caseId");
                console.log(cookieValue);
                //var caseId=getQueryParam("caseId");
                //var typeId=getQueryParam("typeId");
                //var nameId=getQueryParam("nameId");
                //var isDisplay=getQueryParam("isDisplay");
                //$('#jiaotongchufa').attr('action', "../Template/Handler/chufashu01Handler.ashx?action=addOrUpdate&typeId="+typeId+"&nameId="+nameId);
                $('#jiaotongchufa').form('load', "../Template/Handler/chufashu01Handler.ashx?action=load&caseId=" +cookieValue);
                ////$('#jiaotongchufaBtnSave').bind("click", function () {
                ////    alert(99);
                ////});
                //console.log(isDisplay);
                //if (isDisplay) {
                //    $("#jiaotongchufaBtnSave").show();
                //}else {
                //    $("#jiaotongchufaBtnSave").hide();
                //}

            } catch (e) {

            }
        });
        function getCookie(name){ 
            var strCookie=document.cookie; 
            var arrCookie=strCookie.split("; "); 
            for(var i=0;i<arrCookie.length;i++){ 
                var arr=arrCookie[i].split("="); 
                if(arr[0]==name)return arr[1]; 
            } 
            return ""; 
        } 
    </script>
    <script src="../Scripts/util.js"></script>
    <script src="../Scripts/My97DatePicker/WdatePicker.js"></script>
</body>
</html>
