<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
      <add key="dbConnect" value="server=.;uid=sa;pwd=123456;database=UserRightDB"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="RightWebServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.10.20.26:95/RightWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="RightWebServiceSoap"
        contract="RightWebService.RightWebServiceSoap" name="RightWebServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>